"""
{{ project_name }} global entities.

Entities that don't belong to a specific domain go here.
Most entities should be defined within their respective domains.

Example:
    from foobara_py.persistence.entity import EntityBase, entity

    @entity(primary_key='id')
    class User(EntityBase):
        id: int
        email: str
        name: str
"""

# Import entities here
# from .user import User

__all__ = []
